@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {

  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }
}

.hover-rotate:hover {
  animation: rotate 2s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 0.6s ease-in-out;
}

.background {
  /* background: url(./assets/dice2.jpg) center no-repeat; */
  height: 100vh;

  /* background-color: black; */
  /* Uncomment this line if you want to set a fallback background color */
}